<!DOCTYPE html>
<html>
<head>
	<title>Shir's Website</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='creative.css')}}">

	<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Handlee">
    
	<style>
	body {
 		font-family: 'Handlee', s20if;
  		font-size: 20px;
	}

    /*nav bar*/
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}

	li {
		float: left;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover:not(.active) {
		background-color: #111;
	}

	.active {
		background-color: #79c6ed;
	}

	</style>
</head>
<body>

	<!-- nav bar -->
	<ul>
		<li><a class="active" href="{{url_for('home')}}">Home</a></li>
		<li><a href="{{url_for('api')}}">Api</a></li>
		<li><a href="{{url_for('addPlace')}}">Add Place</a></li>
	</ul>

	
	<div class="container">
		<img src="static/image.jpg" alt="Image" class="image">
			<div class="overlay">
	 			<div class="text">Welcome to my website :)</div>
 			</div>
	</div>

	<script src="{{url_for('static', filename='js/map_button.js')}}"></script>	


</body>
</html>